*{
  padding: 1.5%;
}

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header, .footer {
  background-color: blue;
  background-position: center;
  background-size: cover;
  height: 8em;
  width: 97%;
  position: relative;
}

h1{
  width: 60%;
  float: left;
}


#profile {
	position: relative;
	float: right;
	width: 7em;
	height: 7em;
	padding: 0;
	margin: 0;
}

h4, h3{
	padding: 0;
	margin: 0;
	text-align: center;
}

img#picture {
	width: 100%;
	height: 85%;
	padding: 0;
}

.search-bar{
	padding: 0;
	margin: 0;
	border: 2px solid;
	line-height: 2em;
}

.new , .trending{
	height: 16em;
	width: 100%;
	position: relative;
	margin-top: 1.5%;
	overflow: hidden;
}

img#newpic, img#trenpic {
	height: 91%;
	width: 60%;
	margin-bottom: 2%;
}

.footer{
	margin: 0;
	height: 4em;
}
p {
	padding: 0;
	margin: 0;
	text-align: centre;
	line-height: 3em;
}
img#left_holder{
	height: 91%;
	width: 10%;
	margin-bottom: 2%;
	
}
img#right_holder{
	height: 91%;
	width: 10%;
	margin-bottom: 2%;
	
}